nick: logger

server: che.indymedia.org
port: 6667
channels: "#home"

logs:
  dir: 'Simplon/cinchbot/logbot/logs/che.indymedia.org/2014/Oct/16/'
  protocol: http
  server:   localhost
  port:     8000

