#error {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: red;
	color: white;
}

#viewing_logs_for {
	top: 0px;
	left: 0px;
	border: none;
	border-bottom: 1px solid black;
}

#bottom {
	height: 90%;
	width: 99%;
}

#logs {
	height: 100%;
	width: 84%;
	float: left;
}

#users {
	width: 14%;
	float: left;
	margin: 0px;
	padding: 0px;
	padding-left: 10px;
	border: none;
	border-left: 2px solid black;
}

#userlist {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
